<html>
<head>
<!-- this view expects the following variables
  matchname, drawname, redscore, yelscore, redname, yelname, end
  -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<style>
body {font-family: Verdana, Arial;}
#redscore-button {background-color:red; color:white;}
#yelscore-button {background-color:yellow; color:black;}
label[for=hammerChoiceRed].ui-btn-active {
  background-color: red !important;
}
label[for=hammerChoiceYellow].ui-btn-active {
  background-color: yellow !important;
  color: #000 !important;
  text-shadow: none !important;
}
</style>
</head><body>
<table id="myTable" width="90%" 
style="border:0px solid #d3d3d3;padding: 0px; margin: 0px; font-size: 24px;">
<tr><td colspan="2"><b><%=matchname%></b></td></tr>
<tr><td colspan="2"><b><%=drawname%></b></td></tr>
<tr style="background-color:#e10101; color: white;"><td>  <%=redscore%></td><td>  <%=redname%></td></tr>
<tr style="background-color:#dfdf01; color: white;"><td>  <%=yelscore%></td><td>  <%=yelname%></td></tr>
<tr><td colspan="2">End <%=end%></td></tr>

</table>
<div style="margin: 10px;"><form action="./" method="post" data-ajax="false">
  <input type="submit" value="Submit"><br />
<fieldset data-role="controlgroup" data-type="horizontal" id="hammer" name="hammer"> 
<legend>Hammer:</legend> 
<input type="radio" name="hammerChoice" id="hammerChoiceRed" value="red"<%= hammer == "red" ? " checked" : ""%>> 
<label for="hammerChoiceRed">Red</label> 
<input type="radio" name="hammerChoice" id="hammerChoiceYellow" value="yellow"<%= hammer == "yellow" ? " checked" : ""%>> 
<label for="hammerChoiceYellow">Yellow</label> 
</fieldset> 
    <%=redname%> Score: 
   <select name="redscore" id="redscore">
      <option value="0">0</option>
	  <option value="1">1</option>
	  <option value="2">2</option>
	  <option value="3">3</option>
	  <option value="4">4</option>
	  <option value="5">5</option>
	  <option value="6">6</option>
	  <option value="7">7</option>
	  <option value="8">8</option>
	  <option value="9">9</option>
	  <option value="10">10</option>
	  <option value="11">11</option>
	  <option value="12">12</option>
	  <option value="13">13</option>
	  <option value="14">14</option>
	  <option value="15">15</option>
   </select>
    <%=yelname%>  Score:  
   <select name="yelscore" id="yelscore">
      <option value="0">0</option>
	  <option value="1">1</option>
	  <option value="2">2</option>
	  <option value="3">3</option>
	  <option value="4">4</option>
	  <option value="5">5</option>
	  <option value="6">6</option>
	  <option value="7">7</option>
	  <option value="8">8</option>
	  <option value="9">9</option>
	  <option value="10">10</option>
	  <option value="11">11</option>
	  <option value="12">12</option>
	  <option value="13">13</option>
	  <option value="14">14</option>
	  <option value="15">15</option>
   </select>
  End: 
  <select name="end" id="end">
      <option value="0">0</option>
	  <option value="1">1</option>
	  <option value="2">2</option>
	  <option value="3">3</option>
	  <option value="4">4</option>
	  <option value="5">5</option>
	  <option value="6">6</option>
	  <option value="7">7</option>
	  <option value="8">8</option>
	  <option value="9">9</option>
	  <option value="10">10</option>
	  <option value="FF">Final</option>
   </select><br />
<input type="text" name="redname"  value="<%=redname%>"><br>
<input type="text" name="yelname"  value="<%=yelname%>"><br>
  Match name: <input type="text" name="matchname" value="<%=matchname%>"><br>
  Draw name: <input type="text" name="drawname" value="<%=drawname%>"><br>
  <input type="submit" value="Submit"><br />
  </form></div>
 <p><a href="/?reset=yes">Reset Match</a></p>
 <p><a href="/scoreboard">View Scoreboard</a></p>
<script>
$("#redscore").val('<%=redscore%>');
$("#yelscore").val('<%=yelscore%>');
$("#end").val('<%=end%>');
</script>'
