<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<form action="./" method="post" data-ajax="false">
<fieldset data-role="controlgroup" data-type="horizontal" id="hammer" name="hammer"> 
<legend>Hammer:</legend> 
<input type="radio" name="hammerChoice" id="hammerChoiceRed" value="red"<%= hammer == "red" ? " checked" : ""%>> 
<label for="hammerChoiceRed">Red</label> 
<input type="radio" name="hammerChoice" id="hammerChoiceYellow" value="yellow"<%= hammer == "yellow" ? " checked" : ""%>> 
<label for="hammerChoiceYellow">Yellow</label> 
</fieldset> 
<%=redname%> Score: 
<div class="number-input-group">
  <input type="button" value="-" class="button-minus">
  <input type="number" step="1" max="" value="<%= redScore %>" name="redScore"/>
  <input type="button" value="+" class="button-plus">
</div>
<%=yelname%>  Score:  
<div class="number-input-group">
  <input type="button" value="-" class="button-minus">
  <input type="number" step="1" max="" value="<%= yellowScore %>" name="yellowScore"/>
  <input type="button" value="+" class="button-plus">
</div>
End: 
<div class="number-input-group">
  <input type="button" value="-" class="button-minus">
  <input type="number" step="1" max="" value="<%= end %>" name="end"/>
  <input type="button" value="+" class="button-plus">
</div>
</select><br />
<input type="text" name="redname"  value="<%=redname%>"><br>
<input type="text" name="yelname"  value="<%=yelname%>"><br>
Match name: <input type="text" name="matchname" value="<%=matchname%>"><br>
Draw name: <input type="text" name="drawname" value="<%=drawname%>"><br>
<input type="submit" value="Submit"><br />
</form>
<p><a href="/?reset=yes">Reset Match</a></p>
<p><a href="/scoreboard">View Scoreboard</a></p>
<script src="/javascripts/index.js"></script>
